{% extends 'base/base.html' %}
{% load static %}
{% block content%}
{% load i18n %}
<section class="ftco-section bg-light">
    <div class="container">
        <a  class="btn btn-outline-dark" href="{% url 'Profile' request.user.username %}" style="font-family: inherit;">&#x2190; Profile</a>

        <h3>Products</h3>
        <div class="row" >
            {% comment %} <a href="{% url 'dataframes' %}" class="btn btn-danger" style="margin-right:1.5%;"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path style="fill: white;" d="M12 3c-4.006 0-7.267 3.141-7.479 7.092-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408-.212-3.951-3.473-7.092-7.479-7.092z"/></svg> {% endcomment %}
            </a>
            
            <a href="{% url 'datacharts' %}" class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><path style="fill: white;" d="M23.949 13c-.509 6.158-5.66 11-11.949 11-6.627 0-12-5.373-12-12 0-6.29 4.842-11.44 11-11.95v12.95h12.949zm-10.949-2h10.949c-.481-5.828-5.122-10.467-10.949-10.95v10.95z"/></svg></a>
        </a>
        </div>
        <a href="{% url 'Reports' %}" class="btn btn-danger" style="font-family: inherit;float: right;">Reports</a>

        <br>

                </div>
        </section>
{% endblock content%}