{% extends 'base/base.html' %}
{% load static %}
{% block content%}
{% load i18n %}

<div class="hero-wrap js-fullheight">
    <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            {% trans 'An email has been sent for email confirmation' %}</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock content%}