{% extends 'base/base.html' %}
{% load static %}
{% block content%}
{% load i18n %}
<section class="ftco-section bg-light">
    <div class="container">
        <a  class="btn btn-outline-dark" href="{% url 'Profile' request.user.username %}" style="font-family: inherit;">&#x2190; Profile</a>

        <center>
        <h1>Request Products</h1>
        </center>
        <div>
        <div class="cont">
            <!-- <div class="dropdown">
                <button class="dropbtn">Products</button>
                <div class="dropdown-content">
                <a href="#">Lens</a>
                <a href="#">Camera</a>
                <a href="#">Flash</a>
                </div>
            </div> -->
            <input type="text" value="Choosed Product" >
            <!-- <input type="text" value="Enter Product's model" >
            <input type="text" value="Enter Product's Price" > -->
            <a href="#" id="save">Request</a>
        </div>
        </div>
    </div>
</section>
        <style>
            .cont{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 30px;
        }
        .cont #save{
            background-color: #59979E;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
        }
        input{
            color: black;
            text-decoration-color: black;
            margin: 30px;
            text-align: center;
            font-size: 26px;
            border: 1px solid #cccccc;
            font-family: "Helvetica",Poppins-Regular, sans-serif;
        }
            /* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
        </style>
{% endblock content%}