:root {
  --clr-light: white;
  --clr-dark: black;
  --clr-primary: red;
  --clr-secondary: #c3fcf2;
  --clr-transparent: transparent;

  --foreground: var(--clr-dark);
  --background: var(--clr-light);
  --redbg: var(--clr-primary);
  --redwhite: var(--clr-primary);
  --redblack: var(--clr-primary);
  --transblack: var(--clr-transparent)
}

.darkmode {
  --clr-light: #fff;
  --clr-dark: #000;
  --clr-primary: #202302;
  --clr-secondary: #00100d;
  --clr-accent: #ff7750;

  --foreground: var(--clr-light);
  --background: var(--clr-dark);
  --redbg: var(--clr-dark);
  --redwhite: var(--clr-light);
  --redblack: var(--clr-dark);
  --transblack: var(--clr-dark);
}

.dark-mode-toggle {
  position: absolute;
  z-index: 100;
  top: 1em;
  right: 1em;
  color: var(--foreground);
  border: 2px solid currentColor;
  padding: 4px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  width: 30px;
  height: 30px;
}

.click-here {
  width: 100px;
  right: 1.5em;
  position: absolute;
  top: 3em;
}

  .toggle-switch {
    position: relative;
    width: 100px;
    height: 42px;
    --light: #d8dbe0;
    --dark: #28292c;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
  }
  
  .switch-label {
    position: absolute;
    width: 90%;
    height: 40px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
  }
  
  .checkbox {
    position: absolute;
    display: none;
  }
  
  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
    box-shadow: inset 12px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  /*..............................................................................................*/
  .wrapper, .hero-wrap, .quote,.parallax-img ,#section-counter {
    background-color: var(--redbg) !important;
  }
  .interests{
    background-color: red;
  }
  .mb-4, h2,.number,.mb-3,.task-school ,.interests-content{
    color: white !important;
  }
  .btn{
    color: var(--foreground) !important;
    border-color: var(--foreground) !important;
    background-color: transparent !important;
  }
  .h1,.name, .mb-5,.position{
    color:red !important;
  }
  .task ,.skills,.pew{
    color:var(--background) !important;
    background: red !important;
  }
  .ftco-heading-2{
    color:white;
  }
  .ftco-section-parallax{
    color: white ;
    background-color: var(--redbg);
  }
.h3{
  color: var(--foreground) !important;
}