{% autoescape off %}
<img src="/static/base/img/mfis-logo.png" alt="logo" width="50%">
<hr>
<h3> Thank you {{ username }} for joining TEDxManaratAlFaroukSchool !</h4>
<h5> TEDx is a program of local, <br><br>
    self-organized events that bring people together to share a TED-like experience. <br> <br>
    Our event is called TEDxManaratAlFaroukSchool, where x = independently organized TED event. </h5>

<h5>Click on the button below to verify your email</h5>
<table width="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td style="border-radius: 2px;" bgcolor="#ED2939">
                        <a href="http://{{ current_site }}{% url 'Verify' uidb64=uid token=token %}" target="_blank" style="padding: 8px 12px; border: 1px solid #ED2939;border-radius: 2px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                            Verify Email             
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
  </table>
<h5> Have questions? We'd love to help! just hit reply 🙂</h5>
<h5>Regards,</h5>
<h4>TEDxManaratAlFaroukSchool</h4>
{% endautoescape %}

