{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content%}
<div class="limiter">
	<div class="container-login100" style="background: #FF2A2A">
		<div class="wrap-login100 p-t-85 p-b-20"  style="background: #FF2A2A">
			<form class="login100-form validate-form" method="POST" >
                {% csrf_token %}
				<span class="login100-form-avatar">
					<img src="/static/base/img/logo.jpg" alt="logo">
				</span>

                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-light" type="submit" >Request Password Reset</button>
                </div>
            </form>
        </div>


<div id="dropDownSelect1"></div>
{% endblock content%}
