{% extends 'base/base.html' %} {% load static %} {% block content%} {% load i18n
%} {% load bgcolor %}

<section class="ftco-section bg-light">
  <div class="container">
    <a
      class="btn btn-outline-dark"
      href="{% url 'Profile' request.user.username %}"
      style="font-family: inherit"
      >&#x2190; Profile</a
    >

    <center>
      <h1>Welcome {{request.user.username}}!</h1>
    </center>
    <hr />
    <div class="design-chart">
      <form action="{% url 'ChangeBgColor' %}" method="POST">
        {% csrf_token %}
        <div class="design">
          <div class="wrap">
            <div class="half">
              <div class="colorPicker"></div>

              <span class="title">Selected Color:</span>
              <div id="values"></div>

              <input
                id="hexInput"
                class="form-control"
                style="border: 3px solid red"
                name="color"
              />
            </div>
          </div>

          <div class="design_btns">
            <input
              type="submit"
              value="Change Default Color"
              class="btn btn-dark"
              style="background:{%color%};border-color:{%color%};color:{%font_color%}"
            />
            <br />
            <br />
            <input
              type="submit"
              value="Change Font Color"
              class="btn btn-dark"
              style="background:{%color%};border-color:{%color%};color:{%font_color%}"
              name="font_btn"
            />
          </div>
        </div>
        <div></div>
      </form>

      <center>
        <div class="chart-container">
          <canvas id="myChart"></canvas>
        </div>
      </center>
    </div>

    <form
      action="{% url 'getPaletteColor' %}"
      method="POST"
      enctype="multipart/form-data"
      style="color:black !important"
    >
      {% csrf_token %} {{palette}}
      <br />
      <input
        type="submit"
        value="Get Palette Color"
        class="btn btn-dark"
        style="background:{%color%};border-color:{%color%};color:{%font_color%}"
      />
    </form>
    <br>

    <div>
      {% if designs.palette %}
      <img src="{{designs.palette.url}}" alt="color_palette" width="500"/>
      {% endif %}
  <div>
   <br>
  <div style="display:flex;flex-wrap:wrap;gap:2%">
  {% for color in colors %}
  <div>
    <center>
      <form action="" method="POST" id="color_gen_form">
        {% csrf_token %}
        <div>

          <span class="color_gen_span" style="background:{{color}}"
          onClick="changeColor(this.style.background)">
        </span> 
        </div>
      </form>

      {{color}}
    </center>
    <div>   
      
    </div>
    
    <br>
  </div>
  {% endfor %} 
 

  </div>

  
</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

    <script>
      var colorPicker = new iro.ColorPicker(".colorPicker", {
        width: 280,
        color: "#ff2a2a",
        borderWidth: 1,
        borderColor: "#fff",
      });

      var values = document.getElementById("values");
      var hexInput = document.getElementById("hexInput"); 

      colorPicker.on(["color:init", "color:change"], function (color) {
        values.innerHTML = [
          "hex: " + color.hexString,
          "rgb: " + color.rgbString,
          "hsl: " + color.hslString,
        ].join("<br>");

        hexInput.value = color.hexString;
      });

      hexInput.addEventListener("change", function () {
        colorPicker.color.hexString = this.value;
      });

      const ctx = document.getElementById("myChart");

      new Chart(ctx, {
        type: "doughnut",
        data: {
          labels: [ "Default Color","Font Color","Black","Gray","Light"],
          datasets: [
            {
              label: "% Used",
              data: [30, 20,15,5,17],
              borderWidth: 1,
              backgroundColor: [
                "{{designs.color}}","{{designs.font_color}}","black","rgb(66 32 32 / 20%)","#a6bffd"
            ],

            },
          ],
        },
        options: {
          responsive: true,

        },
      });

      function RGBToHex(rgb) {
        let sep = rgb.indexOf(",") > -1 ? "," : " ";
        rgb = rgb.substr(4).split(")")[0].split(sep);
      
        let r = (+rgb[0]).toString(16),
            g = (+rgb[1]).toString(16),
            b = (+rgb[2]).toString(16);
      
        if (r.length == 1)
          r = "0" + r;
        if (g.length == 1)
          g = "0" + g;
        if (b.length == 1)
          b = "0" + b;
      
        return "#" + r + g + b;
      }

      function changeColor(color) {
        console.log(RGBToHex(color));
        hexInput.value = RGBToHex(color);
        colorPicker.color.hexString = RGBToHex(color);
        hexInput.addEventListener("change", function () {
          colorPicker.color.hexString = this.value;
        });
      }

     
    </script>
  </div>
</section>

{% endblock content%}
