{% extends 'base/base.html' %} {% load static %} {% block content%} {% load i18n
%} {% load crispy_forms_tags %}

<div
  class="modal fade"
  id="ReportModel"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Report</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="modal-body">
        <img alt="chart" id="chart-img" width="100%" />
        <div id="alerts-box"></div>
        <form class="report-form" id="report-form">
          {% csrf_token %} {{form|crispy}}
          <button type="submit" class="btn btn-danger" style="float: right">
            Add
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div
  class="container"
  style="
    display: flex;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
  "
>
  <a
    class="btn btn-outline-dark"
    href="{% url 'Dashboard' %}"
    style="font-family: inherit"
    >&#x2190; Dashboard</a
  >
  {% comment %} <a
    class="btn btn-outline-dark"
    href="{% url 'dataframes' %}"
    style="font-family: inherit"
    >Frames</a
  > {% endcomment %}
  <a href="" class="btn btn-danger" id="exportpng">Export</a>
  <button
    type="button"
    class="btn btn-danger"
    data-bs-toggle="modal"
    data-bs-target="#ReportModel"
    id="reportBtn"
  >
    Add Report
  </button>
</div>
<hr />
<div style="height: 80%; width: 80%; position: relative; left: 10%">
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

      const ctx = document.getElementById('myChart');
      var myChart = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: [{% for dt in pt %} '{{dt.name}}', {% endfor %}],
      datasets: [{
          label: 'Products',
          data: [{% for dt in pt %} '{{dt.price}}', {% endfor %}],
          backgroundColor: [
              'rgba(255, 99, 132, 0.2)',
              'rgba(54, 162, 235, 0.2)',
              'rgba(255, 206, 86, 0.2)',
              'rgba(75, 192, 192, 0.2)',
              'rgba(153, 102, 255, 0.2)',
              'rgba(255, 159, 64, 0.2)'
          ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
                  borderWidth: 1
              }]
          },
      options: {

          animation: {
              onComplete: function() {
                  var a = document.getElementById("exportpng");
                  a.href = myChart.toBase64Image();
                  a.download = 'Charts.png';
              }
          }
      }
  });
      var modal = document.getElementById('modal-body')

      var reportBtn = document.getElementById('reportBtn')

      const reportName = document.getElementById('id_name');
      const reportRemarks = document.getElementById('id_remarks');
      const csrf = document.getElementsByName('csrfmiddlewaretoken')[0].value;
      const reportForm = document.getElementById('report-form');
      const img = document.getElementById('chart-img');
      const alertBox = document.getElementById('alerts-box');

      const handleAlerts = (type, msg) => {
          alertBox.innerHTML =
          `
              <div class="alert alert-${type}" role="alert">
                  ${msg}
              </div>
      `
      }
      reportBtn.addEventListener('click', () => {
        img.src = myChart.toBase64Image();

        reportForm.addEventListener('submit', e => {
            e.preventDefault()
            const formData = new FormData();
            formData.append('csrfmiddlewaretoken', csrf)
            formData.append('name', reportName.value)
            formData.append('remarks', reportRemarks.value)
            formData.append('image', img.src)
            $.ajax({
                type: 'POST',
                url: "{% url 'Create_Report' %}",
                data: formData,
                success: function (response) {
                    console.log(response);
                    handleAlerts('success','The report has been created successfully');
                },
                error: function (error) {
                    console.log(error);
                    handleAlerts('danger','Oops, Something went wrong');

                },
                processData: false,
                contentType: false,
            })
        })
    })
</script>

{% endblock content%}
