{% extends 'base/base.html' %}
{% load static %}
{% block content%}
{% load i18n %}

<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
    <div id="particles-js"></div>
    <div class="container">
      <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
        <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
          <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
            {% trans 'Watch Us' %}</h1>
        </div>
      </div>
    </div>
  </div>

  <section class="ftco-section bg-light ftco-animate">
    <div class="container">
      <div class="row">
  

        {% for video in videos%}
        
      <div class="video-container ftco-animate" style="background: var(--background) !important">
        <div style="border: 20px solid  var(--foreground); background-color: var(--foreground); border-radius: 15px;"> 
          <h1 style="position: relative;top: -10px;color: var(--background);">{{video.name}}</h1>
          {% if request.user.profile.committee == 'Marketing' %}
          <center >
            <a href="{% url 'UpdateVideo' video.pk %}" class="btn" style="font-family: inherit;color: white;">Update</a>
            <a href="{% url 'DeleteVideo' video.pk %}" class="btn" style="font-family: inherit;color: rgb(255, 42, 42);">Delete</a>
          </center>
          {% endif %}
      </div>
        <div class="responsive-video" style="top: -20px;">
          <iframe width="600" height="338" src="https://www.youtube.com/embed/{{ video.urlID }}" 
          frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>        </div>
        
      </div>
      {% endfor %}

  </section>
{% endblock content%}