{% extends 'base/base.html' %} {% load crispy_forms_tags %} {% load static %}
{%block content%} {% load i18n %} {% load bgcolor %}
<a style= "margin-top:8%;margin-left:8%;margin-bottom:-50px"class="btn btn-outline-dark" href="{% url 'Events' %}" style="font-family: inherit;margin-left:20%;">&#x2190; Back</a>

<div class="paymob">
  
  <div>
    <img class="paymob-img" src="https://images.unsplash.com/photo-1485970247670-34cd80f5a996?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80" alt="">
    <h1 class="paymob-img-text">{{price}} EGP</h1>
  </div>
  <iframe
  style="
    width: 110vw;
    height: 130vh !important;
  "
  scrolling="no"

  src="{{iframeURL}}"
></iframe>


</div>


{% endblock content%}
