{% extends 'base/base.html' %}
{% load static %}
{% block content%}
{% load i18n %}
{% load bgcolor %}




<div class="hero-wrap js-fullheight">
  <div class="overlay"></div>
  <div id="particles-js"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
      <div class="col-md-6 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
        <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
        <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">
          {% trans 'Store' %}</h1>
      </div>
    </div>
  </div>
</div>
        
<section class="ftco-section bg-light ftco-animate">
  <div class="container">
    <a href="{% url 'Cart' %}" style="float:right;" class="cart">
      {% if order_count != 0 %}
      <h6 style="margin-left:25%">{{order_count}}</h6> 
      {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24"><path d="M10 20.5c0 .829-.672 1.5-1.5 1.5s-1.5-.671-1.5-1.5c0-.828.672-1.5 1.5-1.5s1.5.672 1.5 1.5zm3.5-1.5c-.828 0-1.5.671-1.5 1.5s.672 1.5 1.5 1.5 1.5-.671 1.5-1.5c0-.828-.672-1.5-1.5-1.5zm6.304-17l-3.431 14h-2.102l2.541-11h-16.812l4.615 13h13.239l3.474-14h2.178l.494-2h-4.196z"/></svg>
  
      </a>
    <form action = "/en/store/">
     <div class="input-group">
      <input name = "search_query" type="search" class="form-control" placeholder="Search For Item" id="search_box" style="font-family:sans-serif;"/>
      <div class = "input-group-append">
      <button type="submit" class="btn btn-danger" id="search-bar">Search</button>
      </div>
    </div>
    </form>
     
<!--<script>
{% for product in Products %}
  var data = '{{Products}}';
  data.trim()
  console.log(data);
  {%endfor%}
  const input = document.getElementById('search_box')

let filteredArr = [];

input.addEventListener('keyup', (e)=> {
	products_id.innerHTML = '';
	filteredArr += e.target.value
  if (filteredArr == data) {
    filteredArr.map(item=>{
      products_id.innerHTML += `<h1> ${item} </h1>`

    })
  }
  }
);

</script> -->



    <br><br><br>
    {%if search_query%}
    {% if Products|length > 0%}
    <h3 class = "my-4 border-bottom pb-1"><span class = "text-muted">Search results for</span> "{{request.GET.search_query}}"</h3>
    
    {% else %}
      <h3 class = "my-4 border-bottom pb-1"><span class = "text-muted">No results for</span> "{{request.GET.search_query}}"</h3>
    {%endif%}
    {%endif%}
    <div class="products" style="display:flex;flex-wrap:wrap;justify-content:space-between;" id="products_id">
    
    
      {% for product in Products %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.image.url}}" alt="Card image cap">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <hr>
          <button class="btn" style="cursor: default;background: #4e4e4e">{{ product.price }} $</button>
          <a class="btn btn-outline-danger"  href="{% url 'Products' product.id %}">View Product</a>
        </div>
      </div>
      
      {% endfor %}
    
<div class="container paginator">
    <div class="pagination p1">
      <ul>
        {% if search_query %}
        {%if Products.has_previous%}
        <a href="?search_query={{search_query}}&page={{ Products.previous_page_number }}"|urlencoding><li>Previous</li></a>
        {%endif%}
        {% with ''|center:Products.paginator.num_pages as range %}
        {% for i in range %}
        {% if forloop.counter == Products.number %}
             <a class="is-active" href="?search_query={{search_query}}&page={{ forloop.counter }}"|urlencoding><li>{{ forloop.counter }}</li></a>
        {%else%}
        <a href="?search_query={{search_query}}&page={{ forloop.counter }}"><li>{{ forloop.counter }}</li></a>
        {%endif%}

        {% endfor %}
        {% endwith %}
        {%if Products.has_next%}
        <a href="?search_query={{search_query}}&page={{ Products.next_page_number }}"|urlencoding><li>Next</li></a>
        
        {%endif%}
        
        
        
        {%else%}
        {%if Products.has_previous%}
        <a href="?page={{ Products.previous_page_number }}"><li>Previous</li></a>
        {%endif%}
        {% with ''|center:Products.paginator.num_pages as range %}
        {% for i in range %}
        {% if forloop.counter == Products.number %}
             <a class="is-active" href="?page={{ forloop.counter }}"><li>{{ forloop.counter }}</li></a>
        {%else%}
        <a href="?page={{ forloop.counter }}"><li>{{ forloop.counter }}</li></a>
        {%endif%}

        {% endfor %}
        {% endwith %}
        {%if Products.has_next%}
        <a href="?page={{ Products.next_page_number }}"><li>Next</li></a>
        
        {%endif%}
        {%endif%}
      </ul>
    </div>
</section>






{% endblock content%}}