.notfound h3{
  color:#fff;
  font-size: 400px;
  text-align: center;
  font-weight: 400;
  font: 130px 'Anaheim';
}
.notfound-404 h1{
	font: 300px 'Anaheim';
	color: white;
}
#notfound{
	background-color: black;
}
.notfound{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.notfound a{
	margin: 15px;
	height: 85px;
	width: 350px;
	background-color: white;
	border-radius: 95px;
	box-shadow: 6px 6px 12px #FF6347;
	color: black;
	font: 55px 'Anaheim';
	text-align: center;
}
.notfound a:hover{
	opacity: 60%;
}
@media only screen and (max-width: 767px) {
      .notfound .notfound-404 {
        height: 142px;
      }
      .notfound .notfound-404 h1 {
        font-size: 112px;
      }
	  .notfound a{
		height: 50px;
		width: 125px;
		font-size: 25px;
		box-shadow: 3px 3px 6px #FF6347;
	  }
	  .notfound h3{
		font-size: 70px;
	  }
}

.pew{
font-size: 14px;
line-height: 1.8;
font-weight: 400;
font-family: 'Montserrat';
background-repeat: no-repeat;
background-size: cover;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
-ms-background-size: cover;
background-position: center center;
padding: 115px 0;
background: linear-gradient(to left, red, rgb(223, 53, 53));
}